---
layout: default
---

<article class="blog-article">


  
<h1>{{ page.title }}</h1>

<p class="blog-meta">
Category: {{ page.category }}
</p>

{% if page.image %}
<img src="{{ page.image }}" alt="{{ page.title }}" class="blog-image">
{% endif %}

<div class="blog-content">
{{ content }}
</div>

<hr>

<h3>Related Articles</h3>

<ul>

{% for post in site.posts limit:3 %}

{% if post.url != page.url %}

<li>
<a href="{{ post.url }}">{{ post.title }}</a>
</li>

{% endif %}

{% endfor %}

</ul>

</article>
